<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokédex</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Pokemon 1:</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Vitórias: </p>
            <p>Derrotas:</p>
            <p>Empates: </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Pokemon 2:</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Vitórias: </p>
            <p>Derrotas:</p>
            <p>Empates: </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>